* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Exo 2 ", sans-serif, "Courier New", Courier, monospace;
}
:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #ffffff;
  --main-color: #a21caf;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 8rem 10% 2rem;
}

/* Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  background-color: var(--bg-color);
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  /* 1rem->16px/2rem->32px */
  padding: 2rem 9%;
}
.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
}
.navbar a:hover {
  color: var(--main-color);
}
/* Home */
.home {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
}
.home-img {
  position: relative;
}
.home-img-clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  clip-path: polygon(20% 15%, 80% 15%, 100% 70%, 0% 70%);
}
.home-img img {
  width: 35vw;
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.home-content h1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 5.5rem;
}
.home-content p {
  font-size: 1.6rem;
}
.social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
}

.social-links a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  transition: all 0.3s ease;
  background-clip: text;
  text-shadow: 0 0 1rem var(--main-color);
}
.home-span {
  color: var(--main-color);
  position: relative;
}

.frontend-span,
.backend-span,
.fullstack-span {
  position: absolute;
  color: transparent;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--main-color);
  background-clip: text;
}
.frontend-span {
  animation: animate-front 6s ease-in-out infinite;
}
.backend-span {
  animation: animate-back 6s ease-in-out infinite;
}
.fullstack-span {
  animation: animate-full 6s ease-in-out infinite;
}
.last-span {
  margin-left: 15rem;
  color: var(--text-color);
}

@keyframes animate-front {
  0% {
    width: 0;
  }
  15.5% {
    width: 100%;
  }
  33% {
    width: 0;
  }
}

@keyframes animate-back {
  33% {
    width: 0;
  }
  48.5% {
    width: 100%;
  }
  66% {
    width: 0;
  }
}

@keyframes animate-full {
  66% {
    width: 0;
  }
  81.5% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
/* HOME END */

/* ABOUT START */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about-img img {
  width: 35vw;
}
.heading {
  /* text-align: center; HIYERARSI */
  font-size: 4.5rem;
}
.about-content h2 {
  line-height: 1.2;
  text-align: left;
}
.about-content h3 {
  font-size: 2.5rem;
}
.about-content p {
  position: relative;
  font-size: 1.4rem;
  margin: 2rem 0 3rem;
}
.about-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  border-radius: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease-in-out;
  background: var(--main-color);
  color: var(--second-bg-color);
  filter: drop-shadow(0 0 2rem var(--main-color));
}
.about-btn:hover {
  filter: none;
  color: var(--text-color);
}

/* ABOUT END */
